<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="employee" class="com.springapp.springexample.Employee">
        <property name="name" value="Nikunj"></property>
        <property name="email" value="nikunj.parmar@sanelib.com"></property>
    </bean>

    <bean id="address" class="com.springapp.springexample.Address">
        <property name="streetName" value="Sattadhar"></property>
        <property name="pincode" value="380054"></property>
    </bean>

    <context:annotation-config/>
</beans>


